.card {
    width: 130px;
    height: 180px;
    box-shadow: 0 0.25rem 1rem rgba(48, 188, 66, .3);
    border-radius: 8px;
}

.card_self {
    box-shadow: 0 0.25rem 1rem rgba(48, 188, 66, .9);
}

.card-body {
    font-size: 65px;
}

.ec_f_lg {
    font-size: 34px;
}

.ec_f_md {
    font-size: 24px;
}